body{
    background-color: #F1DBD6;
}

.admin-page{
    background-color: #99ACFF;
}

li{
    width: 150px;
    height: 50px;
    background-color: black;
    color: #99ACFF;
    font-size: 30px;
    border-radius: 5px;
    text-align: center;
}
.login{
    text-align: center;
    align-items: center;
}

.edukasi img{
    width: 40%;
}